---
import Layout from "@/layout/Layout.astro";

const title = "404";
const description = "Page not found";
---
<Layout title={title} description={description}>
  
  <section class="bg-white min-h-screen">
    <div class="grid grid-cols-1 lg:grid-cols-2 min-h-screen">
      <div
        class="flex flex-col items-center justify-center px-4 py-10 bg-white sm:px-6 lg:px-8 sm:py-16 lg:py-24 space-y-16"
      >

        <div
          class="xl:w-full xl:max-w-sm 2xl:max-w-md xl:mx-auto text-center"
        >
          <h1 
            id="404-title"
            class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500">404</h1>

          <p 
            id="404-subtitle"
            class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">Something's missing.</p>
          <p 
            id="404-description"
            class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">Sorry, we can't find that page. You'll find lots to explore on the home page. </p>
        </div>

        <div>
          <a
            id="404-back-home"
            href="/welcome"
            class="inline-block px-6 py-3 text-sm font-semibold text-white bg-blue-500 rounded-md hover:bg-blue-600"
          >
            Back to Homepage
          </a>
        </div>
      </div>

      <div
        transition:name="section-images"
        class="hidden relative lg:flex items-center px-4  md:justify-center  bg-sunny sm:px-6 lg:px-8">
    
    </div>

    </div>
  </section>
</Layout>

<script>
  const applyAnimations = () => {
    const title = document.getElementById("404-title");
    const subtitle = document.getElementById("404-subtitle");
    const description = document.getElementById("404-description");
    const backHome = document.getElementById("404-back-home");
    
    if (title && subtitle && description && backHome) {
      const ctx = gsap.context(() => {
        gsap.from(title, { opacity: 0, duration: 1, delay: 0.5, y: -50 });
        gsap.from(subtitle, { opacity: 0, duration: 1, delay: 1, y: -50 });
        gsap.from(description, { opacity: 0, duration: 1, delay: 1.5, y: -50 });
        gsap.from(backHome, { opacity: 0, duration: 1, delay: 2, y: -50, onComplete: () => {
          ctx.revert();
        }});
      });
    }
  };
  document.addEventListener("astro:after-swap", applyAnimations);
  document.addEventListener("astro:page-load", applyAnimations, { once: true });
</script>