---
import Layout from "@/layout/Layout.astro";

const title = "404";
const description = "Page not found";
---
<Layout title={title} description={description}>
  
  <div class="grid min-h-screen grid-cols-1 grid-rows-[1fr,auto,1fr] bg-white lg:grid-cols-[max(50%,36rem),1fr]">
    <main class="w-full px-6 py-24 mx-auto max-w-7xl sm:py-32 lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:px-24">
      <div class="max-w-lg">
        <p class="text-base font-semibold leading-8 text-gray-400">404</p>
        <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">
          Page not found
        </h1>
        <p class="mt-6 text-base leading-7 text-gray-600">
          Sorry, we couldn’t find the page you’re looking for.
        </p>
        <div class="flex flex-col items-center gap-2 mx-auto mt-8 md:flex-row">
          <button class="inline-flex items-center justify-center w-full h-12 gap-3 px-5 py-3 font-medium text-white duration-200 bg-gray-900 md:w-auto rounded-xl hover:bg-gray-700 focus:ring-2 focus:ring-offset-2 focus:ring-black" aria-label="Primary action">
            Primary button
          </button>
          <button class="inline-flex items-center justify-center w-full h-12 gap-3 px-5 py-3 font-medium duration-200 bg-gray-100 md:w-auto rounded-xl hover:bg-gray-200 focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" aria-label="Secondary action">
            Secondary button
          </button>
        </div>
      </div>
    </main>
  
    <div class="hidden lg:relative lg:col-start-2 lg:row-start-1 lg:row-end-4 lg:block bg-sunny">
      <img src="/weather/fill/openweathermap/01d.svg"  alt="#_" class="absolute inset-0 object-cover  h-40">
    </div>
  </div>

</Layout>