<div class="w-full min-h-full">
  <header
    class="bg-slate-50 lg:fixed lg:inset-y-0 lg:left-0 lg:flex lg:w-112 lg:items-start xl:w-120"
  >
    <slot name="header" />
  </header>

  <main
    class="border-t border-slate-20 lg:relative lg:ml-112 lg:min-h-screen lg:border-t-0 xl:ml-120 bg-sky-50"
  >
    <slot name="main" />
  </main>
</div>
