<header class="w-full h-16 bg-slate-50 flex items-center justify-between px-4 sm:px-6 lg:px-8">
  <button  
    data-button-open-quick-search-panel
    class="text-lg font-semibold text-slate-900 dark:text-white">
    Search
  </button>

  <button class="text-lg font-semibold text-slate-900 dark:text-white">Toggle Theme</button>
</header>